body {
   max-width: 1600px;
   min-width: 100%;
   font-family: lato;
   margin: 0 auto;
}

.logo {
    background-color: #f6f9f9;
    position: absolute;
    left: -1px;
    top: -1px;
    width: 100%;
    height: 100px;
}

.logo-img {
    position: absolute;
    left: 200px;
    top: 31px;
    width: 34px;
    height: 37px;
}

.logo-txt {
    font-size: 30px;
    color: #2d3950;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    position: absolute;
    left: 240px;
    top: 10px;
}

.head {
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    position: absolute;
    left: 0px;
    top: 99px;
    width: 100%;
    height: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
}


h1 {
    align-items: center;
	top: 20%;
    font-size: 120px;
    color: #ffffff;
    font-weight: bold;
    line-height: 47px;
    text-align: center;
    position: absolute; 
}

.line {
    background-color: #15a4fa;
    position: absolute;
    top: 43%;
    width: 600px;
    height: 2px;
    border: none;
    align-items: center;
}

.subtitle {
    font-size: 20px;
    color: #ffffff;
    line-height: 2.35;
    text-align: center;
    position: absolute;
    align-items: center;
    top: 42%;
}
 

.call-to {
    border-style: solid;
    border-width: 1px;
    border-color: #15a4fa;
    border-radius: 2px;
    position: absolute;
    align-items: center;
    top: 60%;
    width: 180px;
    height: 58px;
    background: none;
    color: #ffffff;
    text-align: center;
    font-size: 18px;	
    line-height: 47px;
    letter-spacing: 0.45px;
}

.call-to:hover {
    background: #15a4fa;
    transition: all 1s ease;
    border: none;
}

.call-to:active {
    background: #033eb3;
    transition: all 0.1s ease;
    border: none;
}

.down {
    position: absolute;
    align-items: center;
    top: 90%;
    width: 20px;
    height: 12px;
}

.simple-and {
    background-color: rgb(246, 249, 249);
    position: absolute;
    left: -3px;
    top: 898px;
    width: 100%;
    height: 340px;
}

.simple-and h2 {
    font-size: 40px;
    color: rgb(45, 57, 80);
    line-height: 1.2;
    text-align: center;
}


.simple-and p {
    font-size: 20px;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    max-width: 1101px;
    margin: auto;
    width: 68%;
    height: 81px;
}

.icons-block {
    background-color: #ffffff;
    position: absolute;
    top: 1238px;
    width: 100%;
    height: 340px;
}

.icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 10%;
    margin-top: 2%;
}

.icon1 {
    border-radius: 2px;
    background-color: rgb(95, 195, 255);
    width: 100px;
    height: 100px;
}



.icon1-h {
    font-size: 22px;
    width: 245px;
    height: 20px;
    color: #2d3950;
    text-align: center;
    margin-left: -30%;
}

.icon1p {
    width: 255px;
    height: 36px;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.38px;
    text-align: center;
    margin-left: -30%;
}

.icon2 {
    border-radius: 2px;
    background-color: rgb(95, 195, 255);
    width: 100px;
    height: 100px;
}

.icon2-h {
    font-size: 22px;
    width: 245px;
    height: 20px;
    color: #2d3950;
    text-align: center;
    margin-left: -30%;
}

.icon2p {
    width: 255px;
    height: 36px;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.38px;
    text-align: center;
    margin-left: -30%;
}

.icon3 {
    border-radius: 2px;
    background-color: rgb(95, 195, 255);
    width: 100px;
    height: 100px;
 }

.icon3-h {
    font-size: 22px;
    width: 245px;
    height: 20px;
    color: #2d3950;
    text-align: center;
    margin-left: -30%;
}

.icon3p {
    width: 255px;
    height: 36px;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.38px;
    text-align: center;
    margin-left: -30%;
}

.showcase {
    background-color: rgb(246, 249, 249);
    position: absolute;
    left: -3px;
    top: 1577px;
    width: 100%;
    height: 900px;
    margin-top: 3%;
}

.showcase h2 {
    font-size: 41px;
    color: rgb(45, 57, 80);
    line-height: 1.2;
    text-align: center;
}

.showcase p {
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 1.2;
    text-align: center;
}

.imagies {
    margin-top: 10%;
    display: flex;
    flex-flow: row wrap;
   justify-content: center;
}
.img1, .img2, .img3 {
    width: 375px;
    height: 281px;
    margin: -6% 1% 0 1%;
}

.imagies1 {
    display: flex;
    top: 5%;
    flex-flow: row wrap;
    justify-content: center;
}

.img4, .img5, .img6 {
    width: 375px;
    height: 281px;
    margin: 1.5% 1% 0 1%;
}

.stay {
    background-image: url(../img/footer.png);
    position: relative;
    top: 2500px;
    width: 100%;
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
}

.stay1 {
    background-color: rgba(45, 57, 80, 0.9);
    position: absolute;
    width: 100%;
    height: 900px;
	margin-top: 0;
}

.stay1 h2 {
    font-size: 41px;
    color: #ffffff;
    line-height: 1.2;
    text-align: center;
}

.stay1 p {
	font-size: 15px;
    text-align: center;
    color: rgb(153, 153, 153);
    line-height: 1.533;
}

.form {
	display: flex;
    flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.name, .mail {
	background: none;
    border-color: rgb(153, 153, 153);
    border-style: solid;
    border-width: 1px;
    width: 557px;
    height: 64px;
    font-size: 15px;
	line-height: 1.2;
    text-align: left;
	padding-left: 10px;
	margin-bottom: 2%;
}

.message {
	background: none;
    border-color: rgb(153, 153, 153);
    border-style: solid;
    border-width: 1px;
    width: 557px;
    height: 164px;
	font-size: 15px;
	line-height: 1.2;
    text-align: left;
	padding-left: 10px;
}

.btn {
	width: 555px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1%;
	color: #ffffff;
   font-size: 15px;
   line-height: 1.2;
}

.btn button:hover {
    background: #15a4fa;
    transition: all 1s ease;
    border: none;
}

.btn button:active {
	background: #033eb3;
    transition: all 0.1s ease;
    border: none;
}


.send {
    width: 180px;
    height: 58px;
    background: none;
    color: #ffffff;
    text-align: center;
    font-size: 18px;	
    line-height: 47px;
    letter-spacing: 0.45px;
    border-style: solid;
    border-width: 1px;
    border-color: #15a4fa;
    border-radius: 2px;
}


input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
	background-color: grey;
	border-radius: 3px;
    display: inline-block;
    border: none;
    font-size: 20px;    
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    transition: color ease .3s;
}

input[type=checkbox]:checked + label:before {
    color: #ffffff;
}

footer {
  background-color: rgb(246, 249, 249);
  position: absolute;
  left: 0px;
  top: 3377px;
  width: 100%;
  height: 90px;
  font-size: 15px;
  color: rgb(153, 153, 153);
  text-align: left;
  line-height: 1.2;
}

.social {
	margin-right: 10%;
	margin-top: -2%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.facebook, .twitter, .google, .linkedin {
	margin-right: 1%;
}


footer p {
	margin-left: 3%;
	margin-top: 2%;
}











